.App{

  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 200px;
 
}

h1{
  position: absolute;
  color: brown;
  margin-top: -70px; 
}

h1:hover{
  color: blue;
}